/* Start circle */
.component.circle {
    width: 10%;
    height: 10%;
    background: $c1;
    border: 1px solid #000;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
}
/* End circle */